/* frontend/src/styles/index.css */

/* Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
    padding: 0;
}

/* Set up some basic styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #b95f5f;
    background-color:#1b0e2e;
}

/* Container for app */
.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header and Footer styles */
header,
footer {
    
    color: hsl(0, 30%, 96%);
    text-align: center;
    padding: 10px 0;
}

/* Main content styles */
main {
    padding: 20px 0;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

/* Add more styles as needed */
.MuiButton-root {
    background-color: hwb(288 59% 5%) !important;
    color: white !important;
    font-size: 10px;
    font-weight: bold;
    border-radius: 25px !important;
    padding: 0px;
    margin: 0px;
}


.splineBackground {
    position: absolute; /* Position the Spline container absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the Spline behind other content */
    overflow: hidden;
  }
  
  /* Call to Action Button Container */
  .callToAction {
    position: relative; /* Ensure the buttons are positioned relative to this container */
    z-index: 1;  /* Make sure buttons are above the Spline background */
    text-align: center;
    padding-top: 100px;  /* Add padding to create space for buttons on top of the Spline */
    margin-bottom: 40px;
  }
  