/* frontend/src/components/marketplace/SearchBar.module.css */

.searchBar {
  display: flex; /* Use flexbox for layout */
  align-items: center;
  background-color: var(--background-color-light); /* Slightly lighter background for contrast */
  border: 2px solid var(--border-color); /* More defined border */
  border-radius: 10px; /* Softer, rounded corners */
  padding: 0.75rem 1rem; /* More padding for better visuals and touch targets */
  width: 400px; /* Adjust width as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease-in-out; /* Smooth transitions */
}

.searchBar:hover,
.searchBar:focus-within {
  /* More prominent shadow and border on hover and focus-within */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-color: var(--primary-color-light); /* Subtle highlight on hover */
}

.searchIcon {
  margin-right: 0.75rem; /* Space between icon and input */
  color: var(--text-color); /* Adjust color to match your theme */
  font-size: 1.25rem;    /* Make the icon slightly larger */
}

.input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent; /* Transparent background for input */
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500; /* Slightly bolder font for better readability */
}

.input::placeholder { /* Style the placeholder text */
  color: var(--text-color-light);
  font-style: italic;
}
