/* AICreationForm.module.css */

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form {
    width: 100%;
    padding: 20px;
    
    max-width: 600px;
    
    border-radius: 20px;
    color:azure;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    

}

.formTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitButton {
    width: 100%;
    
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}

.inputfield{
    width: 100%;
    padding: 10px;
    border-radius: 20px !important;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}