/* frontend/src/components/nft/CollectionCard.module.css */

/* Collection Card Container */
.card {
    background-color: var(--background-color-light); /* Slightly lighter background for contrast */
    border: 1px solid var(--border-color); 
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
    overflow: hidden;
  }
  
  /* Hover Effect */
  .card:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Collection Image */
  .imageContainer {
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
  }
  
  .imageContainer::before { /* Gradient overlay on image */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Adjust gradient height as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); 
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
  }
  
  .card:hover .image {
    transform: scale(1.05); 
  }
  
  
  /* Details Section */
  .details {
    padding: 1rem;
    text-align: left; /* Align text to the left */
    color: var(--text-color);
  }
  
  .name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .creator {
    font-size: 0.9rem;
    color: var(--text-color-light); 
    margin-bottom: 0.5rem;
  }
  
  .description {
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: justify;
  }
  .collectionImage {
         /* Do not grow, can shrink, basis of 50px */
    flex:  1 ;
    max-width: 150px;
    max-height: 150px;
    /* Add more styles as needed */
  }
  .collectionInfo
  {
    padding: 20px;
    /* Grow to fill remaining space */
    flex: 1;
    /* Add more styles as needed */

  }

    .collectionTitle {
      font-weight: bold;
      margin-bottom: 10px;
      color: #333333;
      /* Dark grey text */
      
    }


    .collectionCard {
      
      display: flex;
      border: 1px solid #cccccc;
      /* Thin grey border */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      /* Small shadow */
      background-color: #fddde6;
      /* Light pink background */
      padding: 20px;
      /* Add padding inside the card */
      border-radius: 10px;
      /* Optional: if you want rounded corners */
      margin-bottom: 20px;
      /* Space between cards */
    }