/* frontend/src/pages/Home.module.css */


.container {
    padding: 20px;
  
}

.featured {
    margin-top: 20px;
}

.nftGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 1px;
}

.genAnime{
    position: absolute;
    top:0;
    z-index: -100;

}