/* frontend/src/pages/Home.module.css */


.container {
    padding: 20px;
    background-color:  hsl(315, 18%, 96%);
}

.featured {
    margin-top: 20px;
}

.nftGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 1px;
}